@model Apps.DataDb.ViewModels.AppCadVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppCadVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Versao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Versao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plataforma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plataforma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathExe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathExe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParamSilentInstall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParamSilentInstall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
    <a asp-action="Delete" class="btn btn-danger">Excluir</a>

    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @*<a asp-action="Index">Back to List</a>*@
</div>
